[defaults]
inventory          = inventory.ini
host_key_checking  = False
retry_files_enabled = False
remote_user        = ubuntu
private_key_file   = ~/.ssh/id_rsa     # override with -i or ansible_ssh_private_key_file
stdout_callback    = yaml
callbacks_enabled  = timer

[ssh_connection]
pipelining         = True
ssh_args           = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
